<div id="<%= dom_id post %>">
  <p>
    <strong>Pic:</strong>
    <%= post.pic %>
  </p>

  <p>
    <strong>Lat:</strong>
    <%= post.lat %>
  </p>

  <p>
    <strong>Lon:</strong>
    <%= post.lon %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= post.content %>
  </p>

  <p>
    <strong>Lieu:</strong>
    <%= post.lieu %>
  </p>

</div>
